{% extends "base.html" %}
{% block title %}Customize {% endblock %}
{% block funcdef %}
    <script>
        const updateDisplay = (outid, newVal) => {
            outid.innerHTML=newVal;
        };        
    </script>
{% endblock %}
{% block formaction %}action="{{ url_for('custom_control') + '?nadult=' + n_adults + '&nchild='+ n_children + '&mainoption=' + mainoption }}"  method="POST"{% endblock %}

{% block body %}    
    
    {% for cat in breakdown %}
        <div class="row">
            <label for="{{ cat.name + '_input'}}" class="form-label">{{ cat.name }}</label>
            <div class="col-8">
                <input type="range" name="{{ cat.name }}" class="form-range"                         
                    id="{{ cat.name + '_input'}}" max="{{ cat.max }}" step="{{ cat.step }}"
                    value="{{ cat.value }}"
                    onchange="updateDisplay({{ cat.name }}_output, this.value)">
            </div>
            <div class="col">
                <span class="input-group-text">£</span>
                <span id="{{ cat.name + '_output' }}">{{ cat.value }}</span>
                <span class="input-group-text">/{{ cat.freq }}</span>
            </div>                    
        </div>
    {% endfor %}            
{% endblock %}
{% block prevlink %} {{ url_for('main_control') + '?nadult=' + n_adults + '&nchild='+ n_children }} {% endblock %}