{% extends "base.html" %}
{% block description %}
<p>
    Here's some of the thought behind it...
</p>
{% endblock %}

{% macro item(title, id, expanded=false) %}
<div class="accordion-item">
    <h2 class="accordion-header" id="{{ 'heading' + id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="{{ '#collapse' + id }}" 
      {% if expanded %}aria-expanded="true"{% endif %} aria-controls="{{ 'collapse' + id }}">
        <strong>{{ title }}</strong>
      </button>
    </h2>
    <div id="{{ 'collapse' + id }}" class="accordion-collapse collapse {% if expanded %}show{% endif %}" aria-labelledby="{{ 'heading' + id }}" data-bs-parent="#questionsAccordian">
      <div class="accordion-body">          
        {{ caller() | safe }}
      </div>
    </div>
</div>
{% endmacro %}

{% block body %}

<div class="accordion" id="questionsAccordian">
    {% call item('What is this site about?', "0", true) %}
    This is about such and such...
    {% endcall %}

    {% call item('What do you mean by enough?', "1") %}
    Well you're missing the point.
    {% endcall %}
</div>
<div style="height:50px;"></div>

{% endblock %}

{% block progressbar %}{% endblock %}