{% extends "form.html" %}
{% block description %}
<p>
    On this site we're interested in how much income is enough for a UK household. 
</p><p>
    '<em>Enough for what?</em>' you may ask.
</p><p>
    It could be enough for just surviving, or enough for lavish holidays - you decide as we guide you through making a household budget.    
</p>

<p>For whatever 'enough' you choose, we will make an analysis using Office of National Statistics data to help answer a few questions:
    <ul style="padding-left:40px;">
    <li> What does it take for different household sizes to earn enough? </li>
	<li>What fraction of UK citizens have enough?</li>
    <li>How much more or less than enough do the highest and lowest-income households have?</li>
    <li>Do we have enough for everyone?</li>    
    </ul>
</p>

{% endblock %}
{% block formaction %} action="{{url_for('user_info')}}" method="GET" {% endblock %}
{% block formbody %}
{% endblock %}
{% block navbuttons %}
    <div class="row justify-content-end">
        <div class="col-2">
            <p class="float-end"><input type="submit" class="btn btn-primary" value="Begin"></p>
        </div>                    
    </div>
{% endblock %}