{% extends "form.html" %}
{% block description %}
Now adjust the budget as you like, either by adjusting the total, or by changing the allowance per category of expense.
{% endblock %}
{% block funcdef %}
    <script>

        const updateDisplay = (outid, newVal) => {
            outid.innerHTML=parseFloat(newVal).toLocaleString();
        };             

    </script>
{% endblock %}
{% block formaction %}action="{{ url_for('lifetime_control', uid=uid) }}"  method="POST"{% endblock %}

{% block formbody %}
    <div class="p-3 border bg-light">
        <div class="row row-cols-1 g-2">
            <div class="col">
                <div class="p-3 border bg-white">
                    <div class="row justify-content-between">
                        <div class="col-8 col-sm-9" style="min-height:140px;">
                            <b><label for="house_input" class="form-label">First house downpayment</label></b><br>
                            Deposit for buying a first house   
                        </div>
                        <div class="col-4 col-sm-3">
                        <strong><p class="float-end">£<span id="house_output">20,000</span></p></strong>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3 col-md-2 text-end">
                            £0
                        </div>
                        <div class="col-6 col-md-8">
                            <input type="range" name="house" class="form-range"                         
                                id="house_input" max="50000" step="1000"
                                value="20000"
                                oninput="updateDisplay(house_output, this.value)">
                        </div>    
                        <div class="col-3 col-md-2">
                            £50,000
                        </div>                
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-white">
                    <div class="row justify-content-between">
                        <div class="col-8 col-sm-9" style="min-height:140px;">
                            <b>Pre-school Childcare</b><br>
                            Monthly payments for pre-school childcare, over and above government-provided childcare
                            hours of 15-30 hours/week during term times for ages 3 and over. 
                            Calculated for each child - input even if your household does not have children.
                        </div>
                        <div class="col-4 col-sm-3">
                        <strong><p class="float-end">£<span id="childcare_output">600</span>/month<br>
                            for <span id="childcare_years_output">2</span> years</p>  </strong>                       
                        </div>
                    </div>
                    <label for="childcare_input" class="form-label">Monthly Payment:</label>
                    <div class="row justify-content-center">
                        <div class="col-3 col-md-2 text-end">
                            £0/month
                        </div>
                        <div class="col-6 col-md-8">                        
                            <input type="range" name="childcare" class="form-range"                         
                                id="childcare_input" max="1200" step="50"
                                value="600"
                                oninput="updateDisplay(childcare_output, this.value)">
                        </div>    
                        <div class="col-3 col-md-2">
                            £1,200/month
                        </div>                
                    </div>
                    <label for="childcare_years_input" class="form-label">Number of years of payments:</label>
                    <div class="row justify-content-center">
                        <div class="col-3 col-md-2 text-end">
                            0 years
                        </div>
                        <div class="col-6 col-md-8">                        
                            <input type="range" name="childcare_years" class="form-range"                         
                                id="childcare_years_input" max="4" step="0.5"
                                value="2"
                                oninput="updateDisplay(childcare_years_output, this.value)">
                        </div>    
                        <div class="col-3 col-md-2">
                            4 years
                        </div>                
                    </div>                
                </div>
            </div>
        </div>
    </div>
             
{% endblock %}
{% block prevlink %} {{ url_for('custom_control', uid=uid) }} {% endblock %}
{% block progress %}67{% endblock %}