{% extends "base.html" %}
{% block title %}Main control{% endblock %}
{% block funcdef %}
    <script>
        const displayOptions = {{ options | safe }}
        
        const updateDisplay = (newVal) => {
            document.getElementById("optionTitle").innerHTML=displayOptions[newVal].name;
            document.getElementById("optionDescription").innerHTML=displayOptions[newVal].description;
            document.getElementById("optionValue").innerHTML=displayOptions[newVal].value;
        };        

    </script>
{% endblock %}
{% block formaction %}action="{{ url_for('main_control') + '?nadult=' + n_adults + '&nchild='+ n_children }}" method="POST"{% endblock %}
{% block body %}

    <div class="row">
        <label for="rangecontents" class="form-label">Allowance</label>
        <input type="range" name="mainoption" class="form-range" id="range1" max="4" value="0" onchange="updateDisplay(this.value)">
    </div>
    <div class="row">
        <div class="col">
            <h1 id="optionTitle"></h1>
        </div>
        <div class="col">
            <h1 id="optionValue"></h1>
        </div>
    </div>
    <div class="row" id="optionDescription"></div>
    
    <script>updateDisplay("0")</script>
{% endblock %}
{% block prevlink %}{{ url_for('user_info') }}{% endblock %}